.arrow {
	width: 0px;
	height: 0px;
	border-bottom: 16px solid transparent;
	border-top: 16px solid transparent;
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	position: absolute;
}

.corner {
	width: 0px;
	height: 0px;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
}

.arrow.arrow-up {
	border-bottom-color: #000;
	border-bottom-width: 16px;
	top: -32px;
	left: 50%;
	margin-left: -16px;
}

.arrow.arrow-down {
	border-top-color: #000;
	border-top-width: 16px;
	bottom: -32px;
	left: 50%;
	margin-left: -16px;
}

.arrow.arrow-left {
	border-right-color: #000;
	border-right-width: 16px;
	left: -32px;
	top: 50%;
	margin-top: -16px;
}

.arrow.arrow-right {
	border-left-color: #000;
	border-left-width: 16px;
	right: -32px;
	top: 50%;
	margin-top: -16px;
}

.corner.corner-top-left {
	border-left-color: #000;
	border-left-width: 12px;
	left: 0px;
	top: 12px;
	margin-top: -12px;
	border-top: 12px solid #000;
}

.corner.corner-top-right {
	border-right-color: #000;
	border-right-width: 12px;
	right: 0px;
	top: 12px;
	margin-top: -12px;
	border-top: 12px solid #000;
}

.corner.corner-bottom-left {
	border-left-color: #000;
	border-left-width: 12px;
	left: 0px;
	bottom: 12px;
	margin-bottom: -12px;
	border-bottom: 12px solid #000;
}

.corner.corner-bottom-right {
	border-right-color: #000;
	border-right-width: 12px;
	right: 0px;
	bottom: 12px;
	margin-bottom: -12px;
	border-bottom: 12px solid #000;
}

#arrow-up,
#arrow-down,
#arrow-left,
#arrow-right,
#corner-top-left,
#corner-top-right,
#corner-bottom-left,
#corner-bottom-right {
	position: relative;
	width: 100px;
	height: 100px;
	border: solid 1px #000;
	background-color: #fff;
	border-radius: 6px;
	margin: 50px auto;
}

#corner-top-left {
	border-top-left-radius: 0;
}

#corner-top-right {
	border-top-right-radius: 0;
}

#corner-bottom-left {
	border-bottom-left-radius: 0;
}

#corner-bottom-right {
	border-bottom-right-radius: 0;
}